$def with (page)

<html>
  <head>
	<title>HWPC</title>
  </head>
  <body>
	$:page

	<!-- Begin JS View Templates -->
	<script type="text/template" id="app-template">
	  <form id="signup-form">
		<input type="text" name="fname" placeholder="First"/>
		<input type="text" name="lname" placeholder="Last"/>
		<input type="text" name="address1" placeholder="Address 1"/>
		<input type="text" name="address2" placeholder="Address 2"/>
		<input type="text" name="city" placeholder="City"/>
		<input type="text" name="state" placeholder="State"/>
		<input type="text" name="zip" placeholder="Zip"/>		
	  </form>
	</script>
	<!-- End JS View Templates -->
	
	<!-- Load External JS -->
	<script src="static/hwpc-app.js"></script>
	<!-- End external JS -->
	
	<!-- Load External CSS -->
	<link rel="stylesheet" type="text/css" href="static/hwpc-app.css"/>
	<!-- End external CSS -->
  </body>
</html>
